{% extends 'base/base_blog.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block header_title %}Blog{% endblock header_title %}

{% block css %}
<style>
   .link-color{
        color: #277da1;
    }

</style>

{% endblock css %}

{% block body %}
<div class="container">
    <h1>Blog Posts
        <lord-icon
                src="https://cdn.lordicon.com/zpxybbhl.json"
                trigger="loop"
                colors="primary:#121331,secondary:#277da1"
                style="width:100px;height:100px">
        </lord-icon>
    </h1>
    <hr class="border-top muted">
</div>


{% for post in posts %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="container">
        <div class="col">
            <div class="card mb-5" style="background: #f7f7ff;">
                <img class="img-fluid img-thumbnail card-img-top" src='{{ post.image.url }}' width="300">
                <h5 class="card-title ps-3 pt-3">{{ post.title }}</h5>
                <p class="card-text text-muted ps-3"><small>Tags: </small><small class="ms-2 text-muted border">
                    {{ post.tag }} </small><small class="text-muted border ms-2"> {{ post.type }}</small></p>
                <p class="card-text ps-3"><small class="text-muted">{{ post.date_posted | date:"F d, Y - " }} By:
                    {{ post.author }}</small></p>
                <p class="card-text ps-3">
                    <a class="link-color" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        See More >>
                    </a>
                </p>

                <div class="card-body collapse" id="collapseExample">
                    <p class="card-text collapse">{{ post.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock body %}