{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block header_title %}Home{% endblock header_title %}

{% block css %}
<link href="{% static 'css/hompage.css' %}" rel="stylesheet" type="text/css">

{% endblock css %}

{% block body %}

<div class="container mt-5" id="tutorial_py">
    <h1>Tutorials
        <lord-icon
                src="https://cdn.lordicon.com/nkmsrxys.json"
                trigger="loop"
                colors="primary:#121331,secondary:#277da1"
                stroke="40"
                style="width:80px;height:80px">
        </lord-icon>
    </h1>

    <div class="btn-group">
        <button class="btn btnns dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown"
                data-bs-auto-close="true" aria-expanded="false">
            Tutorials
        </button>
        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
            <li><a class="dropdown-item" href="#tutorial_py">Python</a></li>
            <li><a class="dropdown-item" href="#tutorial_dj">Django</a></li>
            <li><a class="dropdown-item" href="#">Problem Solving</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Other</a></li>
        </ul>
    </div>

    <hr class="border-top muted">
</div>

<div class="container">
    <h4 class="text-center mt-5 mb-5"><strong>Python</strong> <img src="{% static 'img/python-3.svg' %}" alt=""
                                                                   width="80px"></h4>
</div>

{% for post in py_tutorials %}
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="container">
        <div class="col">
            <div class="card mb-5" style="background: #f7f7ff;">
                <img class="img-fluid img-thumbnail card-img-top" src='{{ post.image.url }}' width="300">
                <h5 class="card-title ps-3 pt-3">{{ post.title }}</h5>
                <p class="card-text text-muted ps-3"><small>Tags: </small><small class="ms-2 text-muted border">
                    {{ post.tag }} </small><small class="text-muted border ms-2"> {{ post.type }}</small></p>
                <p class="card-text ps-3"><small class="text-muted">{{ post.date_posted | date:"F d, Y - " }} By:
                    {{ post.author }}</small></p>
                <p class="card-text ps-3">
                    <a class="link-color" data-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        See More >>
                    </a>
                </p>

                <div class="card-body collapse" id="collapseExample">
                    <p class="card-text collapse">{{ post.content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}


<div class="container mt-5">
    <h4 class="text-center" id="tutorial_dj"><strong>Django</strong> <img src="{% static 'img/django.svg' %}" alt=""
                                                                          width="80px"
                                                                          height="50"></h4>
</div>

<div class="div_with_background m-5">
    {% for post in dj_tutorials %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="container">
            <div class="col">
                <div class="card mb-5" style="background: #f7f7ff;">
                    <img class="img-fluid img-thumbnail card-img-top" src='{{ post.image.url }}' width="300">
                    <h5 class="card-title ps-3 pt-3">{{ post.title }}</h5>
                    <p class="card-text text-muted ps-3"><small>Tags: </small><small class="ms-2 text-muted border">
                        {{ post.tag }} </small><small class="text-muted border ms-2"> {{ post.type }}</small></p>
                    <p class="card-text ps-3"><small class="text-muted">{{ post.date_posted | date:"F d, Y - " }} By:
                        {{ post.author }}</small></p>
                    <p class="card-text ps-3">
                        <a class="link-color" data-toggle="collapse" href="#collapseExample" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            See More >>
                        </a>
                    </p>

                    <div class="card-body collapse" id="collapseExample">
                        <p class="card-text collapse">{{ post.content|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<div class="container mt-5" id="Featuresb">
    <h1>Features
        <lord-icon
                src="https://cdn.lordicon.com/jvucoldz.json"
                trigger="loop"
                delay="2000"
                colors="primary:#121331,secondary:#277da1"
                style="width:80px;height:80px">
        </lord-icon>
    </h1>

    <div class="btn-group">
        <button class="btn btnns dropdown-toggle" type="button" id="defaultDropdown" data-bs-toggle="dropdown"
                data-bs-auto-close="true" aria-expanded="false">
            Features
        </button>
        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
            <li><a class="dropdown-item" href="#">Cool stuff</a></li>
            <li><a class="dropdown-item" href="#">Stuff for developers</a></li>
            <li><a class="dropdown-item" href="#">Random feature</a></li>
        </ul>
    </div>

    <hr class="border-top muted">
</div>


{% endblock body %}