{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% block title %}Sign In{% endblock title %}
{% block head_title %}Sign In{% endblock %}

{% block css %}{% endblock css %}
{% block body %}
<div class="container">
<h1>Sign In with Google </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a class="btn btn-sm btnns ms-3 lift" href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</div>



{% endblock body %}


{% block js %}{% endblock js %}