{% extends 'base/base_projects.html' %}
{% load static %}
{% block title %}Projects{% endblock title %}
{% block header_title %}Projects{% endblock header_title %}

{% block css %}
<style>
    .link-color {
        color: #277da1;
    }

</style>

{% endblock css %}

{% block body %}
<div class="container mt-5">
    <h1>Projects
        <lord-icon
                src="https://cdn.lordicon.com/ybfcwnqv.json"
                trigger="loop"
                colors="primary:#121331,secondary:#277da1"
                style="width:100px;height:100px">
        </lord-icon>

    </h1>
    <hr class="border-top muted">
</div>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card" style="background: #f7f7ff;"><a href=#"><img
                    src="https://static.codingforentrepreneurs.com/media/projects/django-class-based-views-unleashed/images/share/Django_Class_Based_Views_Unleashed_shar.jpg"
                    class="card-img-top img-fluid img-thumbnail" alt="Django Class Based Views Unleashed logo"></a>

                <div class="card-body">
                    <h4 class="card-title"><a href="#">Django Class Based Views Unleashed</a></h4>

                    <p class="card-text">Django Class Based Views (<em>CBVs</em>)
                        are an important part of using Django effectively. <em>CBVs</em> help us eliminate
                        redundant code across our entire application and stay DRY while using CRUD and
                        CRUD-like views. </p>
                    <p class="card-text">Here's a basic example:</p>

                    <ul class="card-text">
                        <li>Any <a href="#">Try Django</a> series</li>
                    </ul>

                    <h4 class="card-text"><a href="#">Reference code</a></h4>

                    <a class="btn btnns mt-2" href="#">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card" style="background: #f7f7ff;"><a href=#"><img
                    src="https://static.codingforentrepreneurs.com/media/projects/djangoflix/images/share/DjangoFlix_Share.jpg"
                    class="card-img-top img-fluid img-thumbnail" alt="Django Class Based Views Unleashed logo"></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="#">Django Class Based Views Unleashed</a></h4>

                    <p class="card-text">Django Class Based Views (<em>CBVs</em>)
                        are an important part of using Django effectively. <em>CBVs</em> help us eliminate
                        redundant code across our entire application and stay DRY while using CRUD and
                        CRUD-like views. </p>
                    <p class="card-text">Here's a basic example:</p>

                    <ul class="card-text">
                        <li>Any <a href="#">Try Django</a> series</li>
                    </ul>

                    <h4 class="card-text"><a href="#">Reference code</a></h4>

                    <a class="btn btnns mt-2" href="#">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class=" card " style="background: #f7f7ff;"><a href=#"><img
                    src="https://static.codingforentrepreneurs.com/media/projects/python-desktop-app/images/share/Python_Desktop_App_-_Share.jpg"
                    class="card-img-top img-fluid img-thumbnail" alt="Python Desktop App logo"></a>
                <div class="card-body">
                    <h4 class="card-title"><a href="#">Django Class Based Views Unleashed</a></h4>

                    <p class="card-text">Django Class Based Views (<em>CBVs</em>)
                        are an important part of using Django effectively. <em>CBVs</em> help us eliminate
                        redundant code across our entire application and stay DRY while using CRUD and
                        CRUD-like views. </p>
                    <p class="card-text">Here's a basic example:</p>

                    <ul class="card-text">
                        <li>Any <a href="#">Try Django</a> series</li>
                    </ul>

                    <h4 class="card-text"><a href="#">Reference code</a></h4>

                    <a class="btn btnns mt-2" href="#">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-3">
            {% for projects in project%}
            <div class=" card " style="background: #f7f7ff;"><a href="{{ projects.project_link }}"><img
                    src="{{ projects.image.url }}"
                    class="card-img-top img-fluid img-thumbnail" alt="Python Desktop App logo"></a>
                <div class="card-body">
                    <h4 class="card-title">{{ projects.title }}</h4>
                    <p class="card-text">{{ projects.content|safe }} </p>
                    <h4 class="card-text">Reference code</h4>
                    <a class="btn btnns mt-2" href="{{ projects.project_link }}">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock body %}